.assistant-image, .selectable-character {
    -fx-cursor: hand;
}

.assistant-image:hover, .selectable-character:hover {
    -fx-effect: dropshadow(gaussian, yellow, 10, 1, 0, 0);
}

.school-pane {
    -fx-background-image: url("../images/schools/Plancia_DEF2.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: stretch;
}

.island-pane1, .island-pane2, .island-pane3 {
    -fx-background-repeat: no-repeat;
    -fx-background-size: stretch;
}

.island-pane1 {
    -fx-background-image: url("../images/islands/island1.png");
}

.island-pane2 {
    -fx-background-image: url("../images/islands/island2.png");
}

.island-pane3 {
    -fx-background-image: url("../images/islands/island3.png");
}

.selectable-item:hover, .cloud:hover {
    -fx-effect: dropshadow(gaussian, yellow, 10, 1, 0, 0);
    -fx-cursor: hand
}

.selected-student {
    -fx-effect: dropshadow(gaussian, yellow, 10, 1, 0, 0);
}

.character-buttons {
    -fx-cursor: hand;
    -fx-background-color: saddlebrown;
    -fx-text-fill: white;
    -fx-background-radius: 5;
    -fx-border-color: black;
    -fx-border-radius: 5;
    -fx-border-width: 2;
}

.character-buttons:hover {
    -fx-background-color: chocolate;
}